/* A gradient with a single color of red */
/*radial-gradient(red)*/

/* A gradient at the center of its container,
   starting red, changing to blue, and finishing green */
radial-gradient(circle at center, red 25%, blue 35%, green 0)

/* hsl color space with longer hue interpolation */
/* radial-gradient(circle at center in hsl longer hue, red 0, blue, green 100%)*/

