<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}
</style>
</head>
<body> 

</body>
</html>
